# Customer loans in Finance

Here we test the class by first running an instance of the class under the variable 'test' and the input of our locally stored credentials.yaml file
Then we can run our methods from the test instance

In [38]:
#Here we import only the neccessary modules

import yaml
import pandas as pd
from sqlalchemy import create_engine, inspect

'''
The following is a class to connect to an RDS database and extract a loan payments dataframe and save it into a csv file
'''
class DataTransform:

    def __init__(self, loan_payments_table):

        self.loan_payments_table = loan_payments_table

    def check_id_unique(self):
        
        num_unique_ids = loan_payments_table['id'].nunique()

        row_count = len(loan_payments_table)

        if num_unique_ids == row_count:
            print("All id's are unique")
        else:
            print("Not all of the id's are unique")

        return

    def str_to_int(self):

        loan_payments_table['term'].str.replace('36 months', '36').astype(float)

        return

class RDSDatabaseConnector(DataTransform):

    '''
    Here we initialise the class with the only input needed is the 'credentials', which includes the details needed to access the RDS database
    
    '''

    def __init__(self, creds: dict):
        self.creds = creds

    '''
    The db_engine method is there to open the credentials file that is input by the user
    It extracts the various credentials and uses it to open the file; saving the out put into the engine variable
    The engine variable can be thought of as a key to access the database
    '''

    def db_engine(self):

        with open(self.creds, 'r') as file: #opening the yaml file input and creating an instance of the class in the variable self.creds_dict variable
            self.creds_dict = yaml.safe_load(file)
    
        DATABASE_TYPE = 'postgresql'
        DBAPI = 'psycopg2'
        ENDPOINT = self.creds_dict['RDS_HOST']
        USER = self.creds_dict['RDS_USER']
        PASSWORD = self.creds_dict['RDS_PASSWORD']
        PORT = 5432
        DATABASE = self.creds_dict['RDS_DATABASE']
        engine = create_engine(f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{ENDPOINT}:{PORT}/{DATABASE}")
        return engine
    
    '''
    The get_table_names does what it says on the tin, it gets the table names
    We use the built in inspect function from the sqlalchemy library to inspect the whole database
    Then the get_table_names() function returns a list of table names
    '''
    
    def get_table_names(self, engine):

        inspector = inspect(engine)

        return inspector.get_table_names()
    
    '''
    'loan payments' is the table we're looking for
    We use the engine along with the built in read_sql() function from the pandas library to assign the table to the variable 'loan_payments_table'
    '''
    
    def extract_data(self, engine):

        loan_payments_table = pd.read_sql('loan_payments', engine)

        return loan_payments_table
    
    ''''
    Now we can save that table to a csv file using the save_data() method
    '''
    
    def save_data(self, loan_payments_table):

        loan_payments_table.to_csv('df.csv')

        return
    
    '''
    To have an idea about what the data looks like,
    the show_data() method shows a snippet of the table with all the columns and a small number of rows
    '''
    
    def show_data(self, loan_payments_table):

        data_frame = pd.DataFrame(data=loan_payments_table)

        pd.set_option('display.max_rows', 30)

        pd.set_option('display.max_columns', None)

        print(data_frame)
        
        return
    
        
'''
Here we test the class by first running an instance of the class under the variable 'test' and the input of our locally stored credentials.yaml file
Then we can run our methods from the test instance
'''

test = RDSDatabaseConnector('credentials.yaml')

engine= test.db_engine() #get the key to the database using the credentials

table_names = test.get_table_names(engine) #use the key to get the table names

print(table_names) #view the table names

loan_payments_table = test.extract_data(engine) #use the key to access the loan payments table

test.show_data(loan_payments_table) # show a snippit of the data

# test = DataTransform(loan_payments_table)

# check_id = test.check_id_unique()

# term_months_into_years = test.str_to_int()

test.save_data(loan_payments_table) #save the loan payments table to the csv file

['loan_payments']
             id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0      38676116   41461848         8000         8000.0             8000.0
1      38656203   41440010        13200        13200.0            13200.0
2      38656154   41439961        16000        16000.0            16000.0
3      38656128   41439934        15000        15000.0            15000.0
4      38656121   41439927        15000        15000.0            15000.0
...         ...        ...          ...            ...                ...
54226     76597      76583         5000         5000.0             1775.0
54227    142608      74724         5000         5000.0             2350.0
54228    117045      70978         3500         3500.0             2225.0
54229     88854      70699         5000         5000.0              225.0
54230     72323      70694         5000         5000.0              350.0

            term  int_rate  instalment grade sub_grade employment_length  \
0      36 months      7.49      248.82     A        A4           5 years
1      36 months      6.99      407.52     A        A3           9 years
2      36 months      7.49      497.63     A        A4           8 years
3      36 months     14.31      514.93     C        C4            1 year
4      36 months      6.03      456.54     A        A1         10+ years
...          ...       ...         ...   ...       ...               ...
54226  36 months      9.01      159.03     B        B2            1 year
54227  36 months     10.59      162.73     C        C2          < 1 year
54228  36 months      7.43      108.77     A        A2         10+ years
54229  36 months      7.43      155.38     A        A2           4 years
54230  36 months     11.54      164.98     C        C5           9 years

      home_ownership  annual_inc verification_status issue_date  \
0           MORTGAGE     46000.0        Not Verified   Jan-2021
1               RENT     50000.0        Not Verified   Jan-2021
2           MORTGAGE     73913.0     Source Verified   Jan-2021
3               RENT     42000.0     Source Verified   Jan-2021
4           MORTGAGE    145000.0            Verified   Jan-2021
...              ...         ...                 ...        ...
54226       MORTGAGE    250000.0        Not Verified   Jul-2013
54227           RENT     15000.0        Not Verified   Oct-2013
54228       MORTGAGE    300000.0        Not Verified   Aug-2013
54229           RENT    200000.0        Not Verified   Aug-2013
54230       MORTGAGE     55000.0        Not Verified   Jul-2013

                                             loan_status payment_plan  \
0                                                Current            n
1                                                Current            n
2                                             Fully Paid            n
3                                             Fully Paid            n
4                                                Current            n
...                                                  ...          ...
54226                                         Fully Paid            n
54227                                         Fully Paid            n
54228  Does not meet the credit policy. Status:Fully ...            n
54229                                         Fully Paid            n
54230  Does not meet the credit policy. Status:Charge...            n

                  purpose    dti  delinq_2yrs earliest_credit_line  \
0             credit_card  19.54            2             Oct-1987
1             credit_card  24.20            0             Sep-2001
2             credit_card  16.92            0             Sep-1998
3      debt_consolidation  35.52            0             Jun-2008
4      debt_consolidation   3.33            0             Apr-2002
...                   ...    ...          ...                  ...
54226               other  10.00            2             Apr-2003
54227               other  24.40            0             Jan-1999
54228  debt_consolidation   1.00            0             Feb-1984
54229               house   0.28            0             Mar-1995
54230               other  10.00            0             Oct-1998

       inq_last_6mths  mths_since_last_delinq  mths_since_last_record  \
0                   1                     5.0                     NaN
1                   0                     NaN                     NaN
2                   0                    69.0                     NaN
3                   0                    74.0                     NaN
4                   1                    37.0                     NaN
...               ...                     ...                     ...
54226               0                     5.0                     NaN
54227               3                     0.0                     0.0
54228               0                     NaN                     NaN
54229               0                     0.0                     0.0
54230               4                     NaN                     NaN

       open_accounts  total_accounts  out_prncp  out_prncp_inv  total_payment  \
0                 12              27    5529.70        5529.70        2982.51
1                 15              31    9102.83        9102.83        4885.11
2                  7              18       0.00           0.00       16824.54
3                  6              13       0.00           0.00       15947.47
4                 23              50   10297.47       10297.47        5473.46
...              ...             ...        ...            ...            ...
54226              5               7       0.00           0.00        5724.82
54227              6               6       0.00           0.00        5931.25
54228              8              18       0.00           0.00        3915.37
54229              2               2       0.00           0.00        5174.18
54230              6              13       0.00           0.00        1501.19

       total_payment_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
0                2982.51          2470.30         512.21            0.000000
1                4885.11          4097.17         787.94            0.000000
2               16824.54         16000.00         824.54            0.000000
3               15947.47         15000.00         947.47            0.000000
4                5473.46          4702.53         770.93            0.000000
...                  ...              ...            ...                 ...
54226            2032.29          5000.00         724.82            0.000000
54227            2787.47          5000.00         826.31          104.942381
54228            2489.01          3500.00         415.37            0.000000
54229             232.84          5000.00         174.18            0.000000
54230             104.60           966.58         352.34            0.000000

       recoveries  collection_recovery_fee last_payment_date  \
0            0.00                     0.00          Jan-2022
1            0.00                     0.00          Jan-2022
2            0.00                     0.00          Oct-2021
3            0.00                     0.00          Jun-2021
4            0.00                     0.00          Jan-2022
...           ...                      ...               ...
54226        0.00                     0.00          Jul-2016
54227        0.00                     0.00          Oct-2016
54228        0.00                     0.00          Sep-2016
54229        0.00                     0.00          Mar-2014
54230      182.27                     1.84          Mar-2014

       last_payment_amount next_payment_date last_credit_pull_date  \
0                   248.82          Feb-2022              Jan-2022
1                   407.52          Feb-2022              Jan-2022
2                 12850.16              None              Oct-2021
3                 13899.67              None              Jun-2021
4                   456.54          Feb-2022              Jan-2022
...                    ...               ...                   ...
54226               160.61              None              Jul-2016
54227               490.01              None              Sep-2016
54228               110.58          Sep-2016              May-2013
54229                 0.00              None              May-2013
54230               164.97          Dec-2014              Jan-2015

       collections_12_mths_ex_med  mths_since_last_major_derog  policy_code  \
0                             0.0                          5.0            1
1                             0.0                          NaN            1
2                             0.0                          NaN            1
3                             0.0                          NaN            1
4                             0.0                          NaN            1
...                           ...                          ...          ...
54226                         NaN                          NaN            1
54227                         0.0                          NaN            1
54228                         NaN                          NaN            1
54229                         NaN                          NaN            1
54230                         NaN                          NaN            1

      application_type
0           INDIVIDUAL
1           INDIVIDUAL
2           INDIVIDUAL
3           INDIVIDUAL
4           INDIVIDUAL
...                ...
54226       INDIVIDUAL
54227       INDIVIDUAL
54228       INDIVIDUAL
54229       INDIVIDUAL
54230       INDIVIDUAL

[54231 rows x 43 columns]

In [ ]:
class DataFrameInfo:

    def __init__(self, loan_payments_table):

        self.loan_payments_table = loan_payments_table

    def column_data_types(self):
        
        return loan_payments_table.dtypes
    
    def get_median(self):

        return loan_payments_table.median(numeric_only=True)

    def get_standard_deviation(self):

        return loan_payments_table.std(numeric_only=True)

    def get_mean(self):

        return loan_payments_table.mean(numeric_only=True)
    
    def count_categorical_values(self):

        loan_payments_column_names = list(loan_payments_table.columns)

        for column_name in loan_payments_column_names:

            if loan_payments_table[column_name].dtype == object:

                print(loan_payments_table[column_name].value_counts())
            
            else:

                pass

        return
    
    def get_shape(self):

        return loan_payments_table.shape
    
    def null_values(self):
        print("Percentage of null values:")
        print(loan_payments_table.isnull().sum() * 100 / len(loan_payments_table))

        print("Number of null values:")
        return loan_payments_table.isna().sum()


test_1 = DataFrameInfo(loan_payments_table)

test_1.column_data_types() #working

# test_1.get_median()

# test_1.get_standard_deviation()

# test_1.get_mean()

funded_amount_mean = test_1.get_mean()

test_1.count_categorical_values()

# test_1.get_shape()

test_1.null_values()

term
36 months    35845
60 months    13614
Name: count, dtype: int64
grade
B    16369
C    13600
A     9818
D     8157
E     4072
F     1694
G      521
Name: count, dtype: int64
sub_grade
B3    3641
B4    3542
B2    3241
C1    3018
B5    3016
      ...
G1     156
G2     133
G3      87
G4      74
G5      71
Name: count, Length: 35, dtype: int64
employment_length
10+ years    15907
2 years       5066
< 1 year      5034
3 years       4589
5 years       3836
1 year        3708
4 years       3482
6 years       3059
7 years       2964
8 years       2537
9 years       1931
Name: count, dtype: int64
home_ownership
MORTGAGE    26923
RENT        22493
OWN          4750
OTHER          63
NONE            2
Name: count, dtype: int64
verification_status
Verified           20782
Not Verified       17565
Source Verified    15884
Name: count, dtype: int64
issue_date
Dec-2019    7356
Nov-2019    7026
Oct-2019    6738
Sep-2019    6080
Jan-2021    4224
            ...
Aug-2013      35
Sep-2014      34
Sep-2013      25
Jul-2013      21
Jun-2013       2
Name: count, Length: 61, dtype: int64
loan_status
Fully Paid                                             27037
Current                                                19268
Charged Off                                             5571
Does not meet the credit policy. Status:Fully Paid       984
Late (31-120 days)                                       580
Does not meet the credit policy. Status:Charged Off      368
In Grace Period                                          265
Late (16-30 days)                                        106
Default                                                   52
Name: count, dtype: int64
payment_plan
n    54230
y        1
Name: count, dtype: int64
purpose
debt_consolidation    29593
credit_card           11133
other                  3697
home_improvement       3215
major_purchase         1679
small_business         1312
car                    1022
medical                 631
wedding                 539
moving                  456
house                   354
vacation                320
educational             201
renewable_energy         79
Name: count, dtype: int64
earliest_credit_line
Oct-1999    434
Oct-2000    420
Nov-1999    410
Nov-1998    408
Nov-2000    405
           ...
Oct-1960      1
Oct-1957      1
Dec-1960      1
May-1960      1
May-1963      1
Name: count, Length: 587, dtype: int64
last_payment_date
Jan-2022    15569
Dec-2021     5040
Dec-2020     1023
Oct-2020     1020
Jul-2021     1013
            ...
Apr-2014       10
Mar-2014        8
Feb-2014        3
Jan-2014        3
Dec-2013        1
Name: count, Length: 98, dtype: int64
next_payment_date
Feb-2022    18136
Jan-2022     2139
Mar-2017       57
Apr-2017       47
Feb-2017       43
            ...
Apr-2015        1
Nov-2020        1
Jun-2020        1
Sep-2020        1
Mar-2014        1
Name: count, Length: 96, dtype: int64
last_credit_pull_date
Jan-2022    32136
Dec-2021     1458
Nov-2021      909
Oct-2021      875
Sep-2021      849
            ...
Nov-2013        1
Oct-2013        1
Jul-2013        1
May-2014        1
Feb-2014        1
Name: count, Length: 101, dtype: int64
application_type
INDIVIDUAL    54231
Name: count, dtype: int64
Percentage of null values:
id                              0.000000
member_id                       0.000000
loan_amount                     0.000000
funded_amount                   5.544799
funded_amount_inv               0.000000
                                 ...
last_credit_pull_date           0.012908
collections_12_mths_ex_med      0.094042
mths_since_last_major_derog    86.172116
policy_code                     0.000000
application_type                0.000000
Length: 43, dtype: float64
Number of null values:

id                                 0
member_id                          0
loan_amount                        0
funded_amount                   3007
funded_amount_inv                  0
                               ...
last_credit_pull_date              7
collections_12_mths_ex_med        51
mths_since_last_major_derog    46732
policy_code                        0
application_type                   0
Length: 43, dtype: int64

In [62]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
from scipy.stats import zscore


class Plotter:

    def __init__(self, loan_payments_table):

        self.loan_payments_table = loan_payments_table
    
    def plot_null(self):

        loan_payments_table.isna().sum().plot(kind='bar')

        return
    
    def plot_skew(self):

        loan_payments_table.skew(numeric_only=True).plot(kind='bar')

    def plot_outliers(self):

        loan_payments_table.plot(kind='box', figsize=(16,12))



class DataFrameTransform(RDSDatabaseConnector, Plotter):

    def __init__(self, loan_payments_table):

        self.loan_payments_table = loan_payments_table

    
    def null_values(self):

        print("Percentage of null values:")

        print(loan_payments_table.isnull().sum() * 100 / len(loan_payments_table))

        print("Number of null values:")

        print(loan_payments_table.isna().sum())

        pd.options.display.max_rows = 4000

        return
    
    def drop_columns(self):

        loan_payments_table.drop(columns='mths_since_last_delinq', inplace=True)

        loan_payments_table.drop(columns='mths_since_last_record', inplace=True)

        loan_payments_table.drop(columns='funded_amount', inplace=True)

        loan_payments_table.drop(columns='mths_since_last_major_derog', inplace=True)

        loan_payments_table.drop(columns='next_payment_date', inplace=True)

        return loan_payments_table

    def impute_columns(self):

        int_rate_mean = loan_payments_table['int_rate'].mean(numeric_only=True)

        loan_payments_table['int_rate'].fillna(int_rate_mean, inplace=True)

        term_mean = loan_payments_table['int_rate'].mean(numeric_only=True)

        loan_payments_table['term'].fillna(term_mean, inplace=True)

        employment_length_mean = loan_payments_table['int_rate'].mean(numeric_only=True)

        loan_payments_table['employment_length'].fillna(employment_length_mean, inplace=True)

        collections_12_mths_ex_med_mean = loan_payments_table['collections_12_mths_ex_med'].mean(numeric_only=True)

        loan_payments_table['collections_12_mths_ex_med'].fillna(collections_12_mths_ex_med_mean, inplace=True)

        last_payment_date_mode = loan_payments_table['last_payment_date'].mode()[0]

        loan_payments_table['last_payment_date'].fillna(last_payment_date_mode, inplace=True)

        last_credit_pull_date_mode = loan_payments_table['last_credit_pull_date'].mode()[0]

        loan_payments_table['last_credit_pull_date'].fillna(last_credit_pull_date_mode, inplace=True)

        return
    
    def skewness(self):

        print(loan_payments_table.skew(numeric_only=True))

        return
    
    def reduce_skew(self):

        skewed_columns = ['annual_inc', 'delinq_2yrs', 'inq_last_6mths', 'open_accounts', 'out_prncp', 'out_prncp_inv', 'total_payment', 'total_payment_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_payment_amount', 'collections_12_mths_ex_med']

        print(skewed_columns)

        for column in skewed_columns:

            loan_payments_table[column] = loan_payments_table[column].map(lambda i: np.log(i) if i > 0 else 0)

            return

        for column in skewed_columns:
    
            yeojohnson_column, _ = stats.yeojohnson(loan_payments_table[column])

            loan_payments_table[column] = yeojohnson_column 

            return    #works to get most of the skewed

        return
    
    # def transform_outliers(self):

    #     column_name_tables = list(self.loan_payments_table)
        
    #     for column in column_name_tables:

    #         z = np.abs(stats.zscore(self.loan_payments_table[column]))

    #         self.loan_payments_table.loc[np.abs(z > 3), column] = self.loan_payments_table[column].median()

    def remove_outliers(df_column, threshold=3):

        z_scores = zscore(loan_payments_table[df_column])

        loan_payments_table.loc[abs(z_scores) › threshold, df_column] = loan_payments_table[df_column].mean()

        return loan_payments_table



    
test = DataFrameTransform(loan_payments_table)

# test.null_values()

#loan_payments_table = test.drop_columns()

test.impute_columns()

# test.plot_null()

#test.reduce_skew()

# test.skewness()

# test.plot_skew()

test.plot_outliers()

#test.transform_outliers()

test.remove_outliers(df_column='annual_inc')

# test.save_data(loan_payments_table) #save the loan payments table to the csv file

SyntaxError: invalid character '›' (U+203A) (3569886397.py, line 135)